.container {
    max-width: 1095px !important;
}
.user {
    width: 100%;
}
.user a:hover {
    /* background-color:#e9ecef; */
    color: white !important;
}
.user-header {
    width: 100%;
    position: absolute;
    right: 0;
    color: white !important;
}
header {
    width: 100%;
    height: 18%;
}

main {
    width: 100%;
    height: 74%;
    /* position: static; */
    background-color: white;
}

footer {
    width: 100%;
    height: 8%;
    position: absolute;
    background-color: yellow;
}

body {
    margin: 0;
    height: 650px;
}

.main-logo {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 0;
    background: #1050aa;
}

.main-logo a {
    max-width: 1000px;
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 0;
}
.main-logo a img {
    height: 75px;
    width: 1000px;
}

.title-logo {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #1050aa;
}

.content-main {
    width: 100%;
    height: 100%;
    /* background-color: red; */
}

.content-login {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* white-space: nowrap; */
}

.box-login {
    align-self: center;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 320px;
    height: 390px;
    background-color: #cff1ff;
    border-radius: 10%;
}

.box-login > *:first-child {
    align-self: stretch;
}
.box-forgot-password {
    align-self: center;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 320px;
    height: 390px;
    background-color: #cff1ff;
    border-radius: 10%;
}

.box-forgot-password > *:first-child {
    align-self: stretch;
}
h3 {
    margin: 0;
    text-align: center;
    padding: 5%;
    /* width: 90%;
    height: 7%; */
    /* background-color: aquamarine; */
}

.form-login {
    align-self: center;
    width: 88%;
    height: 78%;
    border-radius: 10%;
    background-color: #155cbe;
    margin: 10px;
}

footer {
    display: block;
    position: fixed;
    bottom: 0;
    padding: 0;
    background: #0574cb;
    line-height: 150%;
}

.footer {
    max-width: 100%;
    text-align: center;
    color: #fff;
    position: relative;
    margin: 2px auto;
    background: url("../img/bgfooter.jpg") no-repeat right top;
}

a.go-to-top {
    background: rgba(0, 0, 0, 0.5) url(../images/arrow_top.png) no-repeat center
        center;
    width: 35px;
    height: 35px;
    position: fixed;
    right: 15px;
    bottom: 15px;
    text-indent: -9999px;
    font-size: 0;
    cursor: pointer;
    outline: 0;
    box-shadow: 0 0 1px #222;
    border: 1px solid #aaa;
    z-index: 999;
}

.input-icons i {
    position: absolute;
}

.input-icons {
    width: 100%;
    margin-bottom: 10px;
}

.icon-search {
    padding: 10px;
    color: black;
    min-width: 50px;
    text-align: center;
}

.form-control {
    text-align: center;
}

.btn-primary-login {
    color: #000 !important;
    background-color: #ffffff !important;
    border-color: #ffffff !important;
}

.btn-primary-login:hover {
    color: #000 !important;
    background-color: #ffffff !important;
    border-color: #155cbe !important;
}

.form-check-label {
    color: #ffffff;
}

.form-rounded-1 {
    border-radius: 1rem !important;
}

.form-rounded-2 {
    border-radius: 1.5rem !important;
}

.form-rounded-3 {
    border-radius: 2rem !important;
}

.form-rounded-4 {
    border-radius: 2.5rem !important;
}

.form-rounded-5 {
    border-radius: 3rem !important;
}

.content-search {
    padding-top: 10px;
    width: 100%;
}

.Icon-inside {
    position: relative;
}

.Icon-inside i {
    position: absolute;
    left: 0;
    top: 10px;
    padding: 10px 10px;
    color: #30a3f1;
}

.Icon-outside {
    position: relative;
}

.Icon-outside i {
    position: absolute;
    margin-left: -6px;
    top: 4px;
    padding: 17px 15px;
    background: black;
}

.form-search {
    display: flex;
    padding: 2px;
    border-radius: 20px;
    width: 40%;
    border: 1px solid #c9ca8d;
}

.btn-submit {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: white;
    border: 1px solid transparent;
    border-radius: inherit;
    width: 90%;
}

.btn-search {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: rgb(0, 0, 0);
    border: 1px solid transparent;
    border-radius: inherit;
    width: 90%;
}

input[type="search"]::placeholder {
    color: #bbb;
}

.bt-search {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent
        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
        no-repeat center;
    cursor: pointer;
    opacity: 0.7;
}

form.nosubmit {
    border: none;
    padding: 0;
}

input.nosubmit {
    border: 1px solid #555;
    width: 100%;
    padding: 9px 4px 9px 40px;
    background: transparent
        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
        no-repeat 13px center;
}

/* .input-login{
    width: 80%;
} */
.item-home {
    height: 130px;
    text-align: center;
}

.row-item-home {
    background-color: #b0ddf0;
}

.breadcrumb-item.active {
    color: #ffffff !important;
}

.hidden-window {
    display: none !important;
}

.show-window {
    display: block !important;
}

.nav .active {
    color: white;
}

.navbar-nav .nav-item {
    width: 100%;
}

.fillter-statistic {
    width: 100%;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.fillter-statistic form {
    width: 900px;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: #ffffff !important;
}

.show-window-menu {
    margin-left: 0px;
}
.multiline-text {
    max-width: 250px; /* Set your desired maximum width */
    /* word-break: break-word;
    overflow-wrap: break-word; */
    -webkit-line-clamp: 3; /* Set the desired number of lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media (max-width: 768px) {
    .hidden-mobile {
        display: none !important;
    }

    #sidebar.active {
        margin-left: -250px !important;
    }

    .show-mobile {
        width: 150px;
        display: block !important;
    }

    .footer {
        font-size: 10px;
    }

    .title-logo,
    .item-home h4 {
        font-size: 15px !important;
    }

    header {
        height: 12% !important;
    }
    .main-logo a img {
        height: 45px;
        width: 400px;
    }
    .box-login {
        width: 250px;
        height: 350px;
    }
    .box-forgot-password {
        width: 250px;
        height: 350px;
    }
    h3 {
        font-size: 1rem;
    }

    .input-login,
    .button-login {
        width: 80% !important;
        height: 30px;
    }

    .input-login span,
    .input-login input,
    .button-login button,
    .form-check label {
        height: 30px;
    }

    .size-1 {
        font-size: 12px !important;
    }

    footer {
        width: 100%;
        height: 10%;
    }

    .item-home {
        height: 90px;
    }

    .fillter-statistic form {
        width: 300px;
    }
}

/* Add */

.mb-1 {
    align-items: center !important;
}
.table td {
    white-space: nowrap;
}

.pagination {
    justify-content: center !important;
    margin: 10px !important;
}

/* Ẩn nút đăng xuất trên header */
.desktop-only {
    display: block;
}

/* Hiển thị nút đăng xuất trên sidebar */
.mobile-only {
    display: none;
}

/* Hiển thị nút đăng xuất trên header trên giao diện di động */
@media (max-width: 767px) {
    .desktop-only {
        display: none;
    }

    /* Hiển thị nút đăng xuất trên sidebar trên giao diện di động */
    .mobile-only {
        display: block;
    }
}

